@import "../../_globalColor";

.github-activity-container {
  padding: 2rem;
  margin: 2rem 1rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px $lightBoxShadowDark;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark-github {
    background-color: $darkBackground;
    color: $textColorDark;

    .github-activity-heading {
      color: $buttonColor; // #55198b
    }
  }

  &.light-github {
    background-color: $lightBackground1;
    color: $textColor;

    .github-activity-heading {
      color: $buttonColor; 
    }
  }
}

.github-activity-heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
